.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .card {
    padding: 20px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    &__title {
      font-weight: 500;
    }
    &__count {
      font-size: 25px;
    }
    &__description {
      margin: 0;
    }
    &--projects {
      background-color: #6693f5;
    }
    &--developers {
      background-color: #15297c;
    }
    &--register {
      background-color: #3853de;
    }
    &--errors {
      background-color: #f80000;
    }
  }
}
